html, body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #290a5a;
    padding: 20px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer {
    background-color: #290a5a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dddada;
    
}

.contact-block {
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 70%;
    height: 80vh;
    border: 5px solid transparent;
}

.contact-block1 {
    display: flex;
    justify-content: center;
}


.contact-photo, .contact-info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-photo img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 8px;
}

.contact-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #250d33;
    font-weight: bold;
}

.contact-info ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dddada;
    width: 100%;
}

.about-block {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1000px; /* Ajuste conforme necessário */
    text-align: center;
}

.about-block h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-block p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.about-block ul {
    list-style: none;
    padding: 0;
}

.about-block ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}
